[user]
    name = Rémy Marquis
    email = {{ .email }}
[init]
    defaultBranch = main
[credential]
    helper = store
[core]
{{- if eq .chezmoi.os "linux" }}
    autocrlf = input
{{- else }}
    autocrlf = true
{{- end }}
    editor = nvim
    fsmonitor = true
    untrackedcache = true
[diff]
    colormoved = "default"
    colormovedws = "allow-indentation-change"
[status]
    showuntrackedfiles = all
[alias]
    ad = add
    ap = add -p
    br = branch
    co = checkout
    cp = cherry-pick
    cm = commit -m
    df = diff
    fe = fetch
    fp = fetch -p
    lg = log --oneline --graph --decorate
    me = merge
    pl = pull
    ps = push
    rb = rebase
    ri = rebase -i
    rt = remote
    rs = reset
    un = reset HEAD --
    st = status
    sh = stash
    sl = stash list
    sw = switch
    tg = tag
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
