[user]
    email = remy.marquis@gmail.com
    name = Rémy Marquis
[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = !/usr/bin/gh auth git-credential
[init]
    defaultBranch = main
[core]
    autocrlf = input
    editor = nvim
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    cp = cherry-pick
    un = reset HEAD --
    sw = switch
    rs = reset
    mg = merge
    rb = rebase
[diff]
    colormoved = "default"
    colormovedws = "allow-indentation-change"
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
